<div>
  <form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
    <label>
      First Name : <input type="text" formControlName="fname">
    </label><br>
    <label>
      Email : <input type="email" formControlName="email">
    </label>
    <br>
    <button class="button button2" type="submit" [disabled]="!userprofileForm.valid">Submit</button>
    <button class="button button4" type="reset">Reset</button>
  </form>
</div>

<nav class="navbar">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li><input type="text" name="firstname" [(ngModel)]="fname1" (ngModelChange)="Search()"
        placeholder="Enter First name to search"></li>
  </ul>
</nav>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let item of user; index as userno">
    <td>{{userno + 1}}</td>
    <td>{{item.fname}}</td>
    <td>{{item.email}}</td>
    <td><button class="button button1" (click)="editlist(userno)">Edit</button></td>
    <td><button class="button button3" (click)="removelist(userno)">Remove</button></td>
  </tr>
</table>
